* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* border: 2px white solid; */
}

header {
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #c1a7ec;
  position: fixed;
  width: 100vw;
}

header img {
  height: 60px;
}

header ul {
  display: flex;
  list-style: none;
}

header li {
  font-family: "Poppins";
  font-size: 18px;
  margin-right: 18px;
}

header a {
  text-decoration: none;
  color: #eeeeee;
}

header svg {
  height: 40px;
  margin-right: 30px;
}

.hero {
  background-color: #2274a5;
  display: flex;
  align-items: center;
  height: 100vh;
}

.hero .text {
  min-width: 50%;
  padding: 10%;
}

.hero h1 {
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 32px;
  color: #fffbdb;
  margin-bottom: 20px;
}

.hero p {
  font-family: "Poppins";
  text-transform: uppercase;
  font-size: 20px;
  color: #fffbdb;
  margin-bottom: 20px;
}

.hero button {
  justify-self: center;
  padding: 4%;
  font-family: "poppins";
  text-transform: uppercase;
  background-color: #fb8f67;
  color: #4c5760;
  font-weight: 700;
  border-radius: 30px;
  border: 1.5px solid #fffbdb;
  cursor: pointer;
}

.hero button:hover {
  color: #c02033;
  background-color: #eeeeee;
  border: 2px solid #4c5760;
}

.hero .picture {
  min-width: 50%;
}

.picture img {
  width: 100%;
  padding: 10%;
}

footer {
  background-color: #c1a7ec;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

footer p {
  padding: 20px;
  color: #eeeeee;
  font-size: 16px;
  font-family: "Poppins";
}

svg {
  margin: 50px;
  height: 100px;
}

.boxes {
  display: flex;
  justify-content: space-around;
}

.boxes h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
  font-weight: bold;
  margin: 15px;
  color: black;
}

.boxes p {
  margin: 20px;
  font-size: 14px;
  font-family: "roboto condensed";
  font-weight: normal;
}

.features {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid rgba(129, 120, 120, 0.432);
  border-radius: 30px;
  box-shadow: 0 0 30px rgba(129, 120, 120, 0.432);
  margin: 50px;
  flex-basis: 16%;
  border-color: #c1a7ec;
}

.features button {
  display: flex;
  text-transform: uppercase;
  background-color: #c1a7ec;
  color: #4c5760;
  font-weight: 350;
  border-radius: 30px;
  border: 30px;
  cursor: pointer;
  border: 2px solid;
}

.features button:hover {
  background-color: #fe5f55;
  border: 2px solid #4c5760;
}

footer img {
  padding: 10px;
  margin: 10px;
  height: 60px;
}

footer button {
  border: transparent;
  background-color: transparent;
  cursor: pointer;
}

.vid1 {
  display: flex;
  align-items: space-around;
  background-color: black;
}

.mp4 {
  padding-left: 270px;
  height: 65vh;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.vid1 img {
  position: absolute;
}

.vid1text {
  padding-left: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.vid1text h1 {
  color: deepskyblue;
  font-family: "Bebas Neue";
  font-size: 70px;
}

.vid1text p {
  color: fuchsia;
  font-size: 25px;
  font-family: "Roboto Condensed";
  font-weight: bold;
}
